.api-data {
    position: absolute;
    left: 30%;
    top: 25%;
    height: auto;
    width: 40%;
    padding: 2px;
    min-width: 249px;
    text-align: center;
    align-content: center;
    background-color: none;
    font-family: 'Sen' ,sans-serif;
    color: #212121;
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
}

.api-data h3, h4 {
    padding-left: 5pt;
    padding-right: 5pt;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.global-data {
    max-width: 99%;
    background-image: linear-gradient(to top left, #fafafa, white);
    color: #3354B5;
    border: 2px #eedebd solid;
    border-radius: 10px;
}

.global-data h3 {
    color: #444444;;
    padding-bottom: 1%;
    border-bottom: 2px solid #eedebd;
}

.country-specific-data {
    max-width: 99%;
    background-image: linear-gradient(to top left, #fafafa, white);
    color: #3354B5;
    border: 2px #acbbe6 solid;
    border-radius: 10px;
}

.country-specific-data h3 {
    color: #e80000;
    padding-bottom: 1%;
    border-bottom: 2px solid #acbbe6;

}

#select {
    max-width: 100%;
    border-radius: 10px;
    background-color: white;
    border-top: 1px #212121 solid;
    border-left: 1px #212121 solid;
    border-bottom: 1px #444444 solid;
    border-right: 1px #444444 solid;
    color: #e80000;
}

.canvas {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 99%;
}

#graph {
    height: 200px;
    width: inherit;
}

#loading {
    display: block;
}

@media (max-width: 550px) {
    .api-data {
        position: absolute;
        left: 0;
        right: 0;
        font-size: small;
        max-width: 100% + 4px;
        width: 100%;
        margin: 0;
    }
} 
